
/* chrome only */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
.landingBody .landingLocations {
	position: relative;
	top: 14px;
}

.landingBody aside {
	position: relative;
	top: -8px;
}

.landingBody .brand hgroup{position:relative; top:-5px !important;}
}
