.bodyContent .content {
	margin-top:10px;
    
}
 

/* responsive view hacks */
@media screen and (max-width: 500px) {
 #logo {
	 margin:auto;
	 text-align:center;
	 width:300px;	
	 margin-top:5px; 
	 position:relative !important;
	 top:10px !important;
 }

}

@media screen and (min-width:501px) and (max-width:700px) {
 #logo {
	 margin:auto;
	 text-align:center;
	 width:450px;	
	 margin-top:5px; 
	 position:relative !important;
	 top:10px !important;
 } 
 
 .locationSelect select {
	margin-left: 250px;
} 

}

@media screen and (min-width:701px) and (max-width: 979px) {
 #logo {
	 margin:auto;
	 text-align:center;
	 width:450px;	
	 margin-top:5px; 
	 position:relative !important;
	 top:10px !important;
 }
  .locationSelect select {
	margin-left: 250px;
} 

#archivesSelect {
	margin-left:165px;
   
}
}

@media screen and (min-width:980px) and (max-width: 1199px) {
 #logo {
	 margin:auto;
	 text-align:center;
	 width:600px;	
	 margin-top:5px; 
	 position:relative !important;
	 top:10px !important;
 }
 
.locationSelect select {
	margin-left: 360px;
}

.featuredImage {
	width:99%;


}
}