
.landingBody .headline, .intro .emphasize {line-height:.9em;}
.featuredText h2 {margin-bottom: 15px}

.landingBody .brand {position:relative; top:14px;}
.landingBody aside {position:relative; top:-32px}
.landingBody .landingLocations {position:relative; top:33px;}

/* chrome only hacks */
@media screen and (-webkit-min-device-pixel-ratio:0) { 


.content .meetAlison h2 {padding-bottom:27px;}

.content header h2 {padding-top:0; padding-bottom:20px;}


.landingBody aside {position:relative; top:-65px}
.landingBody .landingLocations {position:relative; top:63px;}

}