
.landingBody .headline, .intro .emphasize {line-height:.9em;}
.featuredText h2 {margin-bottom: 15px}




.landingBody .brand {position:relative; top:14px;}
.landingBody aside {position:relative; top:-32px}
.landingBody .landingLocations {position:relative; top:33px;}